/* Styles ANNULES ************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    /* border: 0; */
    /* font-size: 100%; */
    /* font: inherit; */
    /* vertical-align: baseline; */
}
/* 
* {
    border: 1px solid red;
}  */

/* ***  Styles communs ******************************* */
/*  Taille dx 
    Marge int ext
    Centrage auto / txt
    Centrage div
*/

.dx30 {
    width: 30%;
  }
.dx50 {
    width: 50%;
  }
.dx60 {
    width: 60%;
  }
.dx70 {
    width: 70%;
  }

.dy400px {
    height: 400px;
  }
  
.padding-V10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
.padding-H10 {
    padding-left: 10px;
    padding-right: 10px;
  }
.padding-L20 {
    padding-left: 20px;
}
  
  /* *** Centrage ******************/
.center-elt {
    margin-left: auto;
    margin-right: auto;
  }
.center-txt {
    text-align: center;
  }
  
  /* Centrage Div **********************/
.ligne {
    display: flex;
    flex-direction: row;
  }
.col {
    display: flex;
    flex-direction: column;
  }
  
.axe1-start {
    justify-content: flex-start;
  }
.axe1-center {
    justify-content: center;
  }
.axe1-sp-around {
  justify-content: space-around;
  }
.axe1-sp-between {
  justify-content: space-between;
  }
.axe2-center {
    align-items: center;
}
  

/* ***  Styles propres ******************************* */

body {
    background-color: lightblue;
    padding: 10px;
} 

#box_head {
    background-color: blue;
    margin-bottom: 10px;
}

nav ul {
    /* Supprime les puces de la Navbar !! */
    list-style-type: none;
    padding: 0px;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap; /* ou nowrap... non */
    justify-content: center;
    align-items: center;
  }

nav ul li {
    display: flex;
    margin: 10px;
    /* backdrop-filter: blur(50px); */
    border: 1px solid var(--noir1);
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


nav ul li:hover {
    transition: 0.5s;
    transform: scale(120%);
  }

.nav-txt{
    width: 150px;
    border-radius: 5px;
    padding: 2px;
    padding: 2px 10px;
    text-decoration: none; /* Liens non soulignés */
    color: blue;
    background-color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
}
