<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        {% block stylesheets %}
            <link rel="stylesheet" href="/style.css">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% endblock %}

    </head>
    <body>
        <div id="box_head">
            <div class="ligne axe1-sp-arround">
                <div class="dx30 col axe1-center axe2-center">
                    <img src="/images/logo_product.png" alt="product">
                </div>
                <div class="dx70 col axe1-sp-center">
                    <h1 class="center-txt">Gestion de Produit</h1>

                    {# <div> #}
                    <nav>
                        <ul>
                            <li>
                                <a class="nav-txt" href="{{ url('index_index') }}">index</a>
                            </li>
                            <li>
                                <a class="nav-txt" href="{{ url('user_index') }}">user</a>
                            </li>
                            <li>
                                <a class="nav-txt" href="{{ url('product_index') }}">produits</a>
                            </li>
                            <li>
                                <a class="nav-txt" href="{{ url('category_index') }}">catégories</a>
                            </li>
                            <li>
                                <a class="nav-txt" href="{{ url('app_register') }}">register</a>
                            </li>
                            <li>
                                <a class="nav-txt" href="{{ url('app_login') }}">login</a>
                            </li>
                            <li>
                                <a class="nav-txt" href="{{ url('app_logout') }}">logout</a>
                            </li>
                        </ul>
                    </nav>
                    {# </div> #}
                </div>
            </div>
        </div>

        {% block body %}
                <h1>{{titre}}</h1>
        {% endblock %}
    </body>
</html>
