{% extends 'base.html.twig' %}

{% block title %}Gestion Produit{% endblock %}

{% block body %}
    <h1> Bienvenue sur Gestion de Produit </h1>
    <h2> Veuillez vous connecter </h2>
    <a href="{{ url('app_login') }}">Se connecter</a>
    <h2> Ou vous enregistrer </h2>
    <a href="{{ url('app_register') }}">S enregister</a>
{% endblock %}
